/* line 1, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
body img,
video {
  max-width: 100%; }

/* line 5, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
body {
  background: brown;
  overflow-x: hidden; }

/* line 10, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
p {
  font-size: 2.5rem;
  font-family: "Lusitana", serif;
  z-index: 5; }

/* line 16, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.blender {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 40rem; }
  /* line 23, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .doughnut,
  .blender .cup {
    position: absolute;
    visibility: hidden; }
  /* line 29, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .doughnut-anim {
    visibility: visible;
    position: absolute;
    left: 1rem;
    top: 74rem;
    height: 34rem;
    width: 59rem;
    object-fit: cover;
    border-radius: 1000vw;
    animation: doughnut 6s linear; }

@keyframes doughnut {
  from {
    transform: translateX(-80rem); }
  to {
    transform: translateX(0rem); } }
  /* line 48, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .cup-anim {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 95rem;
    height: 34rem;
    width: 37rem;
    object-fit: cover;
    object-position: -14rem 0;
    border-radius: 1000vw;
    z-index: 1;
    animation: cup 8s linear; }

@keyframes cup {
  from {
    transform: translateX(50rem); }
  to {
    transform: translateX(0rem); } }
  /* line 69, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me {
    padding-top: 20rem; }
    /* line 71, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me br {
      margin-top: 10rem; }
    /* line 75, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me p {
      position: relative;
      text-align: justify; }
    /* line 79, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me p:nth-of-type(1) {
      left: -15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem; }
    /* line 86, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me p:nth-of-type(3) {
      margin-top: -15rem;
      background: none; }
    /* line 90, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me p:nth-of-type(4) {
      left: 15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem; }
    /* line 98, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .blender-observer::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      height: 29rem;
      width: 43rem;
      border-radius: 10px;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      z-index: -1; }
    /* line 110, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .ble,
    .blender .about-me .nder {
      position: relative;
      transform: scale(0.7);
      visibility: hidden;
      z-index: 5; }
    /* line 117, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .ble-anim {
      visibility: visible;
      top: -3rem;
      left: -5rem;
      animation: ble 3s linear; }

@keyframes ble {
  from {
    transform: translateX(-200px) scale(0.7);
    opacity: 0; }
  to {
    transform: translateX(0px) scale(0.7);
    opacity: 1; } }
    /* line 134, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .nder-anim {
      visibility: visible;
      top: -14rem;
      left: -5rem;
      animation: nder 3s linear; }

@keyframes nder {
  from {
    transform: translateX(200px) scale(0.7);
    opacity: 0; }
  to {
    transform: translateX(0px) scale(0.7);
    opacity: 1; } }

/* line 152, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.nintrondo {
  position: relative;
  padding-bottom: 31rem; }
  /* line 155, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo p {
    text-align: justify; }
  /* line 158, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .tron-text {
    position: relative;
    max-width: 30rem;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    margin-inline: auto;
    top: -9rem; }
  /* line 168, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .nintrondo-video {
    filter: grayscale(70%);
    width: 100vw; }
  /* line 172, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .light-tron,
  .nintrondo .day-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 41rem;
    object-fit: cover;
    object-position: -22rem 0; }
  /* line 181, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .dark-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 100%;
    object-fit: cover; }
  /* line 188, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .light-anim {
    right: 0;
    top: 67rem;
    visibility: visible; }
  /* line 193, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .day-anim {
    left: 0;
    top: 67rem;
    visibility: visible; }
  /* line 198, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .dark-anim {
    left: 0;
    top: 106rem;
    visibility: visible; }

/*# sourceMappingURL=nova-style.css.map */