/* line 1, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
body img,
video {
  max-width: 100%; }

/* line 5, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
body {
  background: brown;
  overflow-x: hidden; }

/* line 10, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
p {
  font-size: 2.5rem;
  font-family: "Lusitana", serif;
  z-index: 5; }

/* line 16, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.blender {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 40rem; }
  /* line 23, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .doughnut,
  .blender .cup {
    position: absolute;
    visibility: hidden; }
  /* line 29, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .doughnut-anim {
    visibility: visible;
    position: absolute;
    left: 1rem;
    top: 74rem;
    height: 34rem;
    width: 59rem;
    object-fit: cover;
    border-radius: 1000vw;
    animation: doughnut 6s linear forwards; }

@keyframes doughnut {
  from {
    transform: translateX(-80rem); }
  to {
    transform: translateX(0rem); } }
  /* line 48, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .cup-anim {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 95rem;
    height: 34rem;
    width: 37rem;
    object-fit: cover;
    object-position: -14rem 0;
    border-radius: 1000vw;
    z-index: 1;
    animation: cup 8s linear forwards; }

@keyframes cup {
  from {
    transform: translateX(50rem); }
  to {
    transform: translateX(0rem); } }
  /* line 69, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me {
    padding-top: 20rem; }
    /* line 71, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me br {
      margin-top: 10rem; }
    /* line 75, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me p {
      position: relative;
      text-align: justify; }
    /* line 79, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .top-text {
      left: -15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem; }
    /* line 86, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .below-blender {
      margin-top: -15rem;
      background: none; }
    /* line 90, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .ex-obs {
      left: 15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem; }
    /* line 97, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .middle-text {
      display: flex;
      flex-direction: column; }
    /* line 101, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .blender-observer::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      height: 29rem;
      width: 43rem;
      border-radius: 10px;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      z-index: -1; }
    /* line 113, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .ble,
    .blender .about-me .nder {
      position: relative;
      transform: scale(0.7);
      visibility: hidden;
      z-index: 5; }
    /* line 120, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .full-logo {
      position: absolute;
      display: none; }
    /* line 124, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .ble-anim {
      visibility: visible;
      top: -3rem;
      left: -5rem;
      animation: ble 3s linear; }

@keyframes ble {
  from {
    transform: translateX(-200px) scale(0.7);
    opacity: 0; }
  to {
    transform: translateX(0px) scale(0.7);
    opacity: 1; } }
    /* line 141, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .blender .about-me .nder-anim {
      visibility: visible;
      top: -14rem;
      left: -5rem;
      animation: nder 3s linear; }

@keyframes nder {
  from {
    transform: translateX(200px) scale(0.7);
    opacity: 0; }
  to {
    transform: translateX(0px) scale(0.7);
    opacity: 1; } }

/* line 159, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.nintrondo {
  position: relative;
  padding-bottom: 31rem; }
  /* line 162, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo p {
    text-align: justify; }
  /* line 165, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .tron-text {
    position: relative;
    max-width: 30rem;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    margin-inline: auto;
    top: -9rem; }
  /* line 175, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .nintrondo-video {
    filter: grayscale(70%);
    width: 100vw; }
  /* line 179, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .light-tron,
  .nintrondo .day-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 35%;
    object-fit: cover; }
  /* line 187, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .dark-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 100%;
    object-fit: cover; }
  /* line 194, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .light-anim {
    right: 0;
    bottom: 28%;
    visibility: visible;
    animation: light-tron 5s linear;
    animation-fill-mode: forwards; }

@keyframes light-tron {
  from {
    transform: translateX(40rem);
    object-position: 0; }
  to {
    transform: translateX(0rem);
    object-position: -22rem; } }
  /* line 211, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .day-anim {
    left: 0;
    bottom: 28%;
    visibility: visible;
    animation: day-tron 5s linear;
    animation-fill-mode: forwards; }

@keyframes day-tron {
  from {
    transform: translateX(-40rem);
    object-position: 0; }
  to {
    transform: translateX(0rem);
    object-position: -22rem; } }
  /* line 228, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .dark-anim {
    left: 0;
    bottom: 1%;
    visibility: visible;
    animation: dark-tron 7s linear;
    animation-fill-mode: forwards; }

@keyframes dark-tron {
  from {
    transform: translateY(10rem);
    object-position: 0rem 10rem; }
  to {
    transform: translateY(0rem);
    object-position: 0rem -10rem; } }

/* line 246, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.nova {
  overflow: hidden;
  position: relative;
  padding-bottom: 10rem; }
  /* line 250, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    bottom: 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  /* line 262, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova p {
    position: relative;
    max-width: 30rem;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    transform: translateX(0rem);
    transition: 2s ease-in-out; }
  /* line 272, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-top-anim {
    transform: translateX(-15rem); }
  /* line 275, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-bot-anim {
    transform: translateX(15rem);
    z-index: 7; }
  /* line 279, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-trans {
    position: absolute;
    bottom: -8rem;
    height: 70rem;
    transform: translateX(-10rem);
    z-index: 6;
    transition: 2s ease-in-out; }
  /* line 287, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .trans-anim {
    height: 83rem;
    transform: translateX(54vw); }

/* line 292, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.nova-three {
  position: relative;
  display: flex;
  gap: 1rem;
  height: 55rem; }

/* line 299, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.nova-transition {
  height: 55rem;
  position: relative; }

/* line 303, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.nova-transition::before {
  content: "";
  display: block;
  height: 55rem;
  width: 36rem;
  position: relative; }

/* line 310, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.nova-normal,
.nova-second,
.nova-bots {
  visibility: hidden;
  position: absolute;
  height: 55rem;
  opacity: 0;
  transition: opacity 2s ease-in-out; }

/* line 319, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.normal-anim {
  visibility: visible;
  object-fit: cover;
  top: 0;
  opacity: 1; }

/* line 325, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.second-anim {
  visibility: visible;
  object-fit: cover;
  top: 0;
  animation: secondlayer 20s alternate infinite; }

@keyframes secondlayer {
  0% {
    opacity: 0%; }
  50% {
    opacity: 100%; }
  100% {
    opacity: 100%; } }

/* line 342, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.bots-anim {
  visibility: visible;
  object-fit: cover;
  top: 0;
  animation: thirdlayer 20s alternate infinite; }

@keyframes thirdlayer {
  0% {
    opacity: 0%; }
  50% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

/* line 359, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
.printing {
  position: relative;
  margin-bottom: -10rem;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  z-index: 7; }
  /* line 366, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .printing .tech-final {
    width: 100%;
    height: fit-content; }
  /* line 370, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .printing .model-aspect {
    position: absolute;
    bottom: 0rem;
    left: 5rem;
    z-index: 1; }
  /* line 376, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .printing .tech-model {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 1000vw; }
  /* line 382, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .printing p {
    position: relative;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    z-index: 25; }

@media screen and (max-width: 1200px) {
  /* line 394, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me .top-text {
    left: 0rem; }
  /* line 397, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me .ex-obs {
    left: 0rem; }
  /* line 401, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .doughnut-anim {
    height: 34rem;
    width: 59rem;
    object-position: 3rem 0; }
  @keyframes doughnut {
    from {
      transform: translateX(-60rem); }
    to {
      transform: translateX(-10rem); } }
  /* line 414, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .cup-anim {
    height: 24rem;
    width: 24rem;
    object-position: -10rem 0; }
  @keyframes cup {
    from {
      transform: translateX(30rem); }
    to {
      transform: translateX(5rem); } }
  /* line 429, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .tron-text {
    max-width: 100%;
    top: 0rem; }
  /* line 433, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .light-anim {
    visibility: hidden; }
  /* line 436, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .day-anim {
    visibility: hidden; }
  /* line 439, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nintrondo .dark-anim {
    animation: dark-tron 7s linear;
    animation-fill-mode: forwards; }
  @keyframes dark-tron {
    from {
      transform: translateY(10rem);
      object-position: 0rem 10rem; }
    to {
      transform: translateY(2rem);
      object-position: 0rem 2rem; } }
  /* line 455, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-top-anim {
    transform: translateX(0rem); }
  /* line 458, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-bot-anim {
    transform: translateX(0rem); }
  /* line 461, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-text-mid {
    z-index: 7; } }

@media screen and (max-width: 800px) {
  /* line 470, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me .blender-observer::before {
    height: 220%; }
  /* line 473, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me .blender-observer {
    padding-bottom: 3rem; }
  /* line 476, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me .ble-anim,
  .blender .about-me .nder-anim {
    visibility: hidden; }
  /* line 481, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me .full-logo {
    display: block;
    width: 33rem;
    margin-top: -54%;
    z-index: 10; }
  /* line 487, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .blender .about-me .below-blender {
    margin-top: -28%; }
  @keyframes dark-tron {
    from {
      transform: translateY(10rem);
      object-position: 0rem 10rem; }
    to {
      transform: translateY(2rem);
      object-position: -10rem 5rem; } }
  /* line 505, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-text {
    z-index: 20; }
  /* line 508, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-text-mid {
    z-index: 7; }
  /* line 511, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .trans-anim {
    transform: translateX(34vw); }
  /* line 514, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova .nova-text {
    position: relative; }
  /* line 518, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .normal-anim,
  .second-anim,
  .bots-anim {
    visibility: hidden; }
  /* line 523, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .nova-three {
    display: none; }
  /* line 526, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
  .printing {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; }
    /* line 529, ../../../../xampp/htdocs/resume/scss/nova-style.scss */
    .printing .model-aspect {
      position: relative;
      left: auto; } }

/*# sourceMappingURL=nova-style.css.map */