/* line 1, ../../../../xampp/htdocs/resume/scss/styles.scss */
body {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  --text-color: #1b1b1b;
  --col-primary: #f2f2f2;
  --col-magenta: #ff00ff;
  --robo-con: "Roboto Condensed", sans-serif;
  --space: "Space Grotesk", sans-serif;
  --spacing: 100px;
  --border-radius: 10px; }
  /* line 18, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .text-color {
    color: --text-color; }
  /* line 19, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .bg-primary {
    background-color: --col-primary; }
  /* line 20, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .bg-secondary {
    background-color: --col-magenta; }
  /* line 21, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .font-robo {
    font-family: --robo-con; }
  /* line 22, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .font-space {
    font-family: --space; }
  /* line 23, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .p-default {
    padding: --spacing; }
  /* line 24, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .p-top-default {
    padding-top: --spacing; }
  /* line 25, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .p-bottom-default {
    padding-bottom: --spacing; }
  /* line 26, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .p-half {
    padding: --spacing / 2; }
  /* line 27, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .p-top-half {
    padding-top: --spacing / 2; }
  /* line 28, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .p-bottom-half {
    padding-bottom: --spacing / 2; }
  /* line 29, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .m-default {
    margin: --spacing; }
  /* line 30, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .m-top-default {
    margin-top: --spacing; }
  /* line 31, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .m-bottom-default {
    margin-bottom: --spacing; }
  /* line 32, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .m-half {
    margin: --spacing / 2; }
  /* line 33, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .m-top-half {
    margin-top: --spacing / 2; }
  /* line 34, ../../../../xampp/htdocs/resume/scss/styles.scss */
  body .m-bottom-half {
    margin-bottom: --spacing / 2; }

/* line 38, ../../../../xampp/htdocs/resume/scss/styles.scss */
body {
  margin: 0;
  width: 100%; }

/* line 43, ../../../../xampp/htdocs/resume/scss/styles.scss */
.side-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  gap: 10px; }
  /* line 52, ../../../../xampp/htdocs/resume/scss/styles.scss */
  .side-menu .nLeft {
    position: relative;
    width: 30%;
    clip-path: polygon(0% 0%, 60% 0%, 30% 100%, 0% 100%); }
    /* line 57, ../../../../xampp/htdocs/resume/scss/styles.scss */
    .side-menu .nLeft .img-wrapper {
      position: absolute;
      width: 100%;
      height: 100%; }
      /* line 61, ../../../../xampp/htdocs/resume/scss/styles.scss */
      .side-menu .nLeft .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    /* line 68, ../../../../xampp/htdocs/resume/scss/styles.scss */
    .side-menu .nLeft .menu {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      left: 25px;
      display: flex;
      flex-direction: column; }
      /* line 76, ../../../../xampp/htdocs/resume/scss/styles.scss */
      .side-menu .nLeft .menu a {
        padding: 15px 0;
        font-family: "Space Grotesk", sans-serif;
        color: var(--col-primary);
        transition: 0.35s ease; }
        /* line 82, ../../../../xampp/htdocs/resume/scss/styles.scss */
        .side-menu .nLeft .menu a:hover, .side-menu .nLeft .menu a:focus-visible {
          color: var(--col-magenta);
          text-decoration: none; }
        /* line 87, ../../../../xampp/htdocs/resume/scss/styles.scss */
        .side-menu .nLeft .menu a i {
          margin-right: 15px; }
  /* line 94, ../../../../xampp/htdocs/resume/scss/styles.scss */
  .side-menu .nRight {
    width: 30%;
    clip-path: polygon(100% 0%, 60% 0%, 30% 100%, 100% 100%); }

/*# sourceMappingURL=styles.css.map */