body{
  background-color: #000;
  padding: 3rem;
}

#v0{
  position: fixed;
  bottom: 0;
  height: 100%; 
}

#set-height{
  margin-inline: auto;
  display: flex;
  justify-content: center;
  height: 11000px;
}