body img,
video {
  max-width: 100%;
}
body {
  background: brown;
  overflow-x: hidden;
}

p {
  font-size: 2.5rem;
  font-family: "Lusitana", serif;
  z-index: 5;
}

.blender {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 40rem;

  .doughnut,
  .cup {
    position: absolute;
    visibility: hidden;
  }

  .doughnut-anim {
    visibility: visible;
    position: absolute;
    left: 1rem;
    top: 74rem;
    height: 34rem;
    width: 59rem;
    object-fit: cover;
    border-radius: 1000vw;
    animation: doughnut 6s linear forwards;
  }
  @keyframes doughnut {
    from {
      transform: translateX(-80rem);
    }
    to {
      transform: translateX(0rem);
    }
  }
  .cup-anim {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 95rem;
    height: 34rem;
    width: 37rem;
    object-fit: cover;
    object-position: -14rem 0;
    border-radius: 1000vw;
    z-index: 1;
    animation: cup 8s linear forwards;
  }
  @keyframes cup {
    from {
      transform: translateX(50rem);
    }
    to {
      transform: translateX(0rem);
    }
  }
  .about-me {
    padding-top: 20rem;
    br {
      margin-top: 10rem;
    }

    p {
      position: relative;
      text-align: left;
    }
    .top-text {
      left: -15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem;
    }
    .below-blender {
      margin-top: -15rem;
      background: none;
    }
    .ex-obs {
      left: 15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem;
    }
    .middle-text {
      display: flex;
      flex-direction: column;
    }
    .blender-observer::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      height: 29rem;
      width: 43rem;
      border-radius: 10px;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      z-index: -1;
    }
    .ble,
    .nder {
      position: relative;
      transform: scale(0.7);
      visibility: hidden;
      z-index: 5;
    }
    .full-logo {
      position: absolute;
      display: none;
    }
    .ble-anim {
      visibility: visible;
      top: -3rem;
      left: -5rem;
      animation: ble 3s linear;
    }
    @keyframes ble {
      from {
        transform: translateX(-200px) scale(0.7);
        opacity: 0;
      }
      to {
        transform: translateX(0px) scale(0.7);
        opacity: 1;
      }
    }

    .nder-anim {
      visibility: visible;
      top: -14rem;
      left: -5rem;
      animation: nder 3s linear;
    }
    @keyframes nder {
      from {
        transform: translateX(200px) scale(0.7);
        opacity: 0;
      }
      to {
        transform: translateX(0px) scale(0.7);
        opacity: 1;
      }
    }
  }
}
.nintrondo {
  position: relative;
  padding-bottom: 31rem;
  p {
    text-align: justify;
  }
  .tron-text {
    position: relative;
    max-width: 30rem;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    margin-inline: auto;
    top: -9rem;
  }
  .nintrondo-video {
    filter: grayscale(70%);
    width: 100vw;
  }
  .light-tron,
  .day-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 35%;
    object-fit: cover;
  }
  .dark-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 100%;
    object-fit: cover;
  }
  .light-anim {
    right: 0;
    bottom: 28%;
    visibility: visible;
    animation: light-tron 5s linear;
    animation-fill-mode: forwards;
  }
  @keyframes light-tron {
    from {
      transform: translateX(40rem);
      object-position: 0;
    }
    to {
      transform: translateX(0rem);
      object-position: -22rem;
    }
  }
  .day-anim {
    left: 0;
    bottom: 28%;
    visibility: visible;
    animation: day-tron 5s linear;
    animation-fill-mode: forwards;
  }
  @keyframes day-tron {
    from {
      transform: translateX(-40rem);
      object-position: 0;
    }
    to {
      transform: translateX(0rem);
      object-position: -22rem;
    }
  }
  .dark-anim {
    left: 0;
    bottom: 1%;
    visibility: visible;
    animation: dark-tron 7s linear;
    animation-fill-mode: forwards;
  }
  @keyframes dark-tron {
    from {
      transform: translateY(10rem);
      object-position: 0rem 10rem;
    }
    to {
      transform: translateY(0rem);
      object-position: 0rem -10rem;
    }
  }
}
.nova {
  position: relative;
  padding-bottom: 10rem;
  .nova-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: max-content;
    bottom: 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  p {
    position: relative;
    max-width: 30rem;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    transform: translateX(0rem);
    transition: 2s ease-in-out;
  }
  .nova-top-anim {
    transform: translateX(-15rem);
  }
  .nova-bot-anim {
    transform: translateX(15rem);
    z-index: 7;
  }
  .nova-trans {
    position: absolute;
    bottom: -8rem;
    height: 70rem;
    transform: translateX(-10rem);
    z-index: 6;
    transition: 2s ease-in-out;
  }
  .trans-anim {
    height: 83rem;
    transform: translateX(54vw);
  }
}
.nova-three {
  position: relative;
  display: flex;
  gap: 1rem;
  height: 55rem;
}

.nova-transition {
  height: 55rem;
  position: relative;
}
.nova-transition::before {
  content: "";
  display: block;
  height: 55rem;
  width: 36rem;
  position: relative;
}
.nova-normal,
.nova-second,
.nova-bots {
  visibility: hidden;
  position: absolute;
  height: 55rem;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.normal-anim {
  visibility: visible;
  object-fit: cover;
  top: 0;
  opacity: 1;
}
.second-anim {
  visibility: visible;
  object-fit: cover;
  top: 0;
  animation: secondlayer 20s alternate infinite;
}
@keyframes secondlayer {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
.bots-anim {
  visibility: visible;
  object-fit: cover;
  top: 0;
  animation: thirdlayer 20s alternate infinite;
}
@keyframes thirdlayer {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.printing {
  position: relative;
  margin-bottom: -10rem;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  z-index: 7;
  .tech-final {
    width: 100%;
    height: fit-content;
  }
  .model-aspect {
    position: absolute;
    bottom: 0rem;
    left: 5rem;
    z-index: 1;
  }
  .tech-model {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 1000vw;
  }
  p {
    position: relative;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    z-index: 25;
  }
}
@media screen and (max-width: 1200px) {
  .blender {
    .about-me {
      .top-text {
        left: 0rem;
      }
      .ex-obs {
        left: 0rem;
      }
    }
    .doughnut-anim {
      height: 34rem;
      width: 59rem;
      object-position: 3rem 0;
    }
    @keyframes doughnut {
      from {
        transform: translateX(-60rem);
      }
      to {
        transform: translateX(-10rem);
      }
    }
    .cup-anim {
      height: 24rem;
      width: 24rem;
      object-position: -10rem 0;
    }
    @keyframes cup {
      from {
        transform: translateX(30rem);
      }
      to {
        transform: translateX(5rem);
      }
    }
  }
  .nintrondo {
    .tron-text {
      max-width: 100%;
      top: 0rem;
    }
    .light-anim {
      visibility: hidden;
    }
    .day-anim {
      visibility: hidden;
    }
    .dark-anim {
      animation: dark-tron 7s linear;
      animation-fill-mode: forwards;
    }
    @keyframes dark-tron {
      from {
        transform: translateY(10rem);
        object-position: 0rem 10rem;
      }
      to {
        transform: translateY(2rem);
        object-position: 0rem 2rem;
      }
    }
  }
  .nova {
    .nova-top-anim {
      transform: translateX(0rem);
    }
    .nova-bot-anim {
      transform: translateX(0rem);
    }
    .nova-text {
      width: 100vw;
    }
    .nova-text-mid {
      z-index: 7;
    }
  }
}

@media screen and (max-width: 800px) {
  .blender {
    .about-me {
      .blender-observer::before {
        height: 220%;
      }
      .blender-observer {
        padding-bottom: 3rem;
      }
      .ble-anim,
      .nder-anim {
        visibility: hidden;
      }

      .full-logo {
        display: block;
        width: 33rem;
        margin-top: -54%;
        z-index: 10;
      }
      .below-blender {
        margin-top: -28%;
      }
    }
  }
  .nintrondo {
    @keyframes dark-tron {
      from {
        transform: translateY(10rem);
        object-position: 0rem 10rem;
      }
      to {
        transform: translateY(2rem);
        object-position: -10rem 5rem;
      }
    }
  }
  .nova {
    .nova-text {
      z-index: 20;
    }
    .nova-text-mid {
      z-index: 7;
    }
    .trans-anim {
      transform: translateX(34vw);
    }
    .nova-text {
      position: relative;
    }
  }
  .normal-anim,
  .second-anim,
  .bots-anim {
    visibility: hidden;
  }
  .nova-three {
    display: none;
  }
  .printing {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    .model-aspect {
      position: relative;
      left: auto;
    }
  }
}
