/* This styles the aside container */
#aSide {
  height: 500px;
  width: 500px;
  position: absolute;
  top: calc(50% - 250px);
  right: 7%;
}

/* This styles the 3D object inserted in the aside container */
#aSide model-viewer {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

body img,
video {
  max-width: 100%;
}
body {
  background: brown;
  overflow-x: hidden;
}

p {
  font-size: 2.5rem;
  font-family: "Lusitana", serif;
  z-index: 5;
}

.blender {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 40rem;

  .doughnut,
  .cup {
    position: absolute;
    visibility: hidden;
  }

  .doughnut-anim {
    visibility: visible;
    position: absolute;
    left: 1rem;
    top: 74rem;
    height: 34rem;
    width: 59rem;
    object-fit: cover;
    border-radius: 1000vw;
    animation: doughnut 6s linear;
  }
  @keyframes doughnut {
    from {
      transform: translateX(-80rem);
    }
    to {
      transform: translateX(0rem);
    }
  }
  .cup-anim {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 95rem;
    height: 34rem;
    width: 37rem;
    object-fit: cover;
    object-position: -14rem 0;
    border-radius: 1000vw;
    z-index: 1;
    animation: cup 8s linear;
  }
  @keyframes cup {
    from {
      transform: translateX(50rem);
    }
    to {
      transform: translateX(0rem);
    }
  }
  .about-me {
    padding-top: 20rem;
    br {
      margin-top: 10rem;
    }

    p {
      position: relative;
      text-align: justify;
    }
    p:nth-of-type(1) {
      left: -15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem;
    }
    p:nth-of-type(3) {
      margin-top: -15rem;
      background: none;
    }
    p:nth-of-type(4) {
      left: 15rem;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      padding: 2rem;
    }

    .blender-observer::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      height: 29rem;
      width: 43rem;
      border-radius: 10px;
      background-color: #ffffff75;
      backdrop-filter: blur(5px);
      z-index: -1;
    }
    .ble,
    .nder {
      position: relative;
      transform: scale(0.7);
      visibility: hidden;
      z-index: 5;
    }
    .ble-anim {
      visibility: visible;
      top: -3rem;
      left: -5rem;
      animation: ble 3s linear;
    }
    @keyframes ble {
      from {
        transform: translateX(-200px) scale(0.7);
        opacity: 0;
      }
      to {
        transform: translateX(0px) scale(0.7);
        opacity: 1;
      }
    }

    .nder-anim {
      visibility: visible;
      top: -14rem;
      left: -5rem;
      animation: nder 3s linear;
    }
    @keyframes nder {
      from {
        transform: translateX(200px) scale(0.7);
        opacity: 0;
      }
      to {
        transform: translateX(0px) scale(0.7);
        opacity: 1;
      }
    }
  }
}
.nintrondo {
  position: relative;
  padding-bottom: 31rem;
  p {
    text-align: justify;
  }
  .tron-text {
    position: relative;
    max-width: 30rem;
    background-color: #ffffff75;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 2rem;
    margin-inline: auto;
    top: -9rem;
  }
  .nintrondo-video {
    filter: grayscale(70%);
    width: 100vw;
  }
  .light-tron,
  .day-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 41rem;
    object-fit: cover;
    object-position: -22rem 0;
  }
  .dark-tron {
    position: absolute;
    visibility: hidden;
    height: 38rem;
    width: 100%;
    object-fit: cover;
  }
  .light-anim {
    right: 0;
    top: 67rem;
    visibility: visible;
  }
  .day-anim {
    left: 0;
    top: 67rem;
    visibility: visible;
  }
  .dark-anim {
    left: 0;
    top: 106rem;
    visibility: visible;
  }
}
