body {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  // Color Profile
  --text-color: #1b1b1b;
  --col-primary: #f2f2f2;
  --col-magenta: #ff00ff;

  // Fonts
  --robo-con: "Roboto Condensed", sans-serif;
  --space: "Space Grotesk", sans-serif;

  // CSS Misc
  --spacing: 100px;
  --border-radius: 10px;

  //Components
  .text-color { color: --text-color; }
  .bg-primary { background-color: --col-primary; }
  .bg-secondary { background-color: --col-magenta; }
  .font-robo { font-family: --robo-con; }
  .font-space { font-family: --space; }
  .p-default { padding: --spacing; }
  .p-top-default { padding-top: --spacing; }
  .p-bottom-default { padding-bottom: --spacing; }
  .p-half { padding: --spacing / 2; }
  .p-top-half { padding-top: --spacing / 2; }
  .p-bottom-half { padding-bottom: --spacing / 2; }
  .m-default { margin: --spacing; }
  .m-top-default { margin-top: --spacing; }
  .m-bottom-default { margin-bottom: --spacing; }
  .m-half { margin: --spacing / 2; }
  .m-top-half { margin-top: --spacing / 2; }
  .m-bottom-half { margin-bottom: --spacing / 2; }
}

// Content Styles
body {
  margin: 0;
  width: 100%;
}

.side-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .nLeft {
    position: relative;
    width: 30%;
    clip-path: polygon(0% 0%, 60% 0%, 30% 100%, 0% 100%);

    .img-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
       img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
    }

    .menu {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      left: 25px;
      display: flex;
      flex-direction: column;

      a {
        padding: 15px 0;
        font-family: "Space Grotesk", sans-serif;
        color: var(--col-primary);
        transition:  0.35s ease;

        &:hover,
        &:focus-visible {
          color: var(--col-magenta);
          text-decoration: none;
        }
        i {
          margin-right: 15px;
        }
      }
    }
  }

  .nRight {
    width: 30%;
    clip-path: polygon(100% 0%, 60% 0%, 30% 100%, 100% 100%);
  }
}

.main {

}
